<nav class="site-nav">
  <a class="brand" href="index.html">Cowboys of Cloud 9</a>
  <button type="button" class="nav-toggle" id="nav-toggle" aria-label="Toggle album menu" aria-expanded="false" aria-controls="nav-menu">
    &#9776;
  </button>
  <ul id="nav-menu">
    <li><a class="nav-link" data-page="index.html" href="index.html">Home</a></li>
    <li><a class="nav-link" data-page="memories.html" href="memories.html">Memories of Mars</a></li>
    <li><a class="nav-link" data-page="allelectric.html" href="allelectric.html">All Electric Outhouse</a></li>
    <li><a class="nav-link" data-page="cd3.html" href="cd3.html">Someday Soon</a></li>
    <li><a class="nav-link" data-page="foreveryours.html" href="foreveryours.html">Forever Yours</a></li>
    <li><a class="nav-link" data-page="cosmic.html" href="cosmic.html">Cosmic Collaboration</a></li>
  </ul>
</nav>
